    <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About <a class="bx bx-edit-alt" href="#"></a></h2>
        <p>{{myPortfolio.aboutme}}</p>
        <p>{{myPortfolio.mydescrip}}</p>
        <p>{{myPortfolio.mydescrip2}}</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img [src]="myPortfolio.picture" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{myPortfolio.iam}}</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Fecha de nacimiento:</strong> <span>{{myPortfolio.birth | date:'dd/MM/yyyy'}}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{myPortfolio.email}}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>{{myPortfolio.phone}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Locación:</strong> <span>{{location.city}}, {{location.state}}, {{location.country}}</span></li>
            <!--  </ul>
            </div>
            <div class="col-lg-6">
              <ul> -->
                <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>{{CalculateAge()}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Educación:</strong> <span>{{myPortfolio.lastgraduate}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Estadi Civil:</strong> <span>{{myPortfolio.civil}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Hijos:</strong> <span>{{myPortfolio.children}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>