<section id="language" class="facts">
    <div class="container">

        <div class="section-title">
            <h2>Idiomas <a class="bx bx-edit-alt" href="#"></a></h2>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <div class="count-box">
                    <i class="bi bi-percent"></i>
                    <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Español</strong></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-percent"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Inglés</strong></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="count-box">
                    <i class="bi bi-percent"></i>
                    <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Portugués</strong></p>
                </div>
            </div>

            <a class="bx bx-add-to-queue" href="#">Agregar</a>

        </div>

    </div>
</section><!-- End language Section -->