<section id="language" class="facts">
    <div class="container">

        <div class="section-title">
            <h2>Idiomas <a class="bx bx-edit-alt" href="#"></a></h2>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" *ngFor="let lang of language">
                <div class="count-box">
                    <i class="bi bi-percent"></i>
                    <span data-purecounter-start="0" [attr.data-purecounter-end]="lang.percent" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>{{lang.name}}</strong></p>
                </div>
            </div>

        </div>
        <a class="bx bx-add-to-queue" href="#">Agregar</a>
    </div>
</section><!-- End language Section -->