<section id="courses" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Cursos y Certificaciones <a class="bx bx-edit-alt" href="#"></a></h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" *ngFor="let course of courses">
                <div class="icon"><i class="bi bi-star-fill"></i></div>
                <h4 class="title"><a [href]="course.url" target="_blank">{{course.title}}</a></h4>
                <p class="description">{{course.granted}} - {{course.date}}</p>
            </div>
        </div>

        <a class="bx bx-add-to-queue" href="#">Agregar</a>
    </div>
</section>