<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Curriculum <a class="bx bx-edit-alt" href="#"></a></h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Resumen</h3>
                <div class="resume-item pb-0">
                    <h4>{{myPortfolio.name}}</h4>
                    <p><em>{{myPortfolio.resume}}</em></p>
                    <ul *ngFor="let loc of locat">
                        <li>{{loc.city}}, {{loc.state}}, {{loc.country}}</li>
                        <li>{{myPortfolio.phone}}</li>
                        <li>{{myPortfolio.email}}</li>
                    </ul>
                </div>

                <h3 class="resume-title">Educación</h3>
                <div *ngFor="let edu of education">
                    <div class="resume-item">
                        <h4>{{edu.title}}</h4>
                        <h5>{{edu.dateini}} - {{edu.datefinish}}</h5>
                        <p><em>{{edu.school}}</em></p>
                        <p>{{edu.level}} - {{edu.status}}</p>
                    </div>
                </div>          
                <a class="bx bx-add-to-queue" href="#">Agregar</a>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Experiencia profesional</h3>
                <div *ngFor="let exp of experience">
                    <div class="resume-item">
                        <h4>{{exp.title}} {{exp.expertise}}</h4>
                        <h5>{{exp.dateini}} - {{exp.datefinish}}</h5>
                        <p><em>{{exp.company}}</em></p>
                        <p>
                            {{exp.description}}
                        </p>
                    </div>
                </div>
                <a class="bx bx-add-to-queue" href="#">Agregar</a>
            </div>
        </div>

    </div>
</section>